.search {
  height: 40px;
  font-size: 18px;
  font-family: Varela Round,sans-serif;
  color: #303030;
  padding: 0 10px;
  border: none;
  text-align: left;
  width: 200px;
}

.search:focus-visible {
  outline: none;
}