.metricsCard {
  background: hsla(0,0%,100%,.95);
  padding: 20px;
  text-align: right;
  border-radius: 20px;
}

.metricsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgContent {
  display: inline-block;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  align-items: center;
}

.weatherImg {
  min-width: 100%;
  max-width: 100%;
}