.buttonAdd {
  color: #f7f7f7;
  background-color: rgb(132 165 232);;
  border: solid 2px #f7f7f7;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  padding: 7px 0px;
  font-size: 14px;
  font-weight: 600;
  font-family: Varela Round,sans-serif;
}

.buttonAdd:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  background-color: darken(rgb(132 165 232), 10%);
}

.buttonAdd:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}